@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Hyperwave;
    src: url("./assets/Hyperwave.otf") format("opentype");
}

input:not(:focus):not(:placeholder-shown):invalid{
    border-color:#ff1717;
}